<header class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> 
            <a class="navbar-brand logo" href="#/">
                <!img src="img/header/logo_ams.jpg" alt="AMS Brand" />
                <!--AMS-->
            </a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#">Menu</a>
                    <ul class="dropdown-menu">
                        <li><a href="#/">About</a></li>
                        <li><a href="#/">Help</a></li>
                        <li><a href="#/">Other Stuff</a></li>
                        <li><a href="#/">Logout</a></li>
                    </ul>
                </li>
                <li id="userPlaceholder">
					<a>
						<span class="imagePlaceholder"></span>
						<span class="userName">
							User Name
						</span>
					</a>
                </li>
            </ul>
        </nav>
    </div>
</header>