<div class="panel panel-primary">
    <div class="panel-heading">
        Timesheet <%= data.description %> <br /><small><%= data.state.meaning %></small>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
            <span class="sr-only">20% Complete</span>
        </div>
    </div>
    <div class="panel-body">
        <% if(data.state.code == 1 || data.state.code == 3) { %>
        <div class="btn-toolbar">
            <div class="btn-group">
                <label for="timesheet-detail-projectMenu">Project:</label>
                <select class="selectpicker" id="timesheet-detail-projectMenu"></select>
            </div>
            <div class="btn-group">
                <label for="timesheet-detail-activityMenu">Activity:</label>
                <select class="selectpicker" id="timesheet-detail-activityMenu"></select>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-success" id="timesheet-detail-add">Add</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-danger" id="timesheet-detail-remove">Remove</button>
            </div>
            <div class="timesheet-total pull-right alert">
                Total:&nbsp;<strong id="grandTotal"></strong><strong>&nbsp;hours</strong>
            </div>
        </div>
        <% } %>
    </div>
    <div class="row timesheet-header">
        <div class="col-xs-12 col-md-6">
            <table class="table timesheet-detail">
                <thead>
                    <tr>
                        <th width="5%"><input type="checkbox" value="" /></th>
                        <th width="25%">Project</th>
                        <th width="25%">Activity</th>
                        <th width="45%">Description</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-xs-12 col-md-6">
            <table class="table timesheet-detail">
                <thead>
                    <tr>
                        <th width="10%">Mo</th>
                        <th width="10%">Tu</th>
                        <th width="10%">We</th>
                        <th width="10%">Th</th>
                        <th width="10%">Fr</th>
                        <th width="10%">Sa</th>
                        <th width="10%">Su</th>
                        <th width="13%">Total</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <% _.each(data.timeSheetLines,function(ticket){ %>
    <div class="row timesheet-item">
        <div class="col-xs-12 col-md-6 timesheet-info">
            <table class="table timesheet-detail">
                <tbody>
                    <tr>
                        <td width="5%"><input type="checkbox" value="<%- ticket.timeSheetLineId %>" class="timesheet-detail-mark-checkbox" /></td>
                        <td width="25%"><%-ticket.project %></td>
                        <td width="25%"><%- ticket.activity %></td>
                        <td width="45%">
                            <input type="text" data-id="<%- ticket.projectId %>" value="<%- ticket.description %>"   min="0" max="24" step="1" class="form-control description" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-6 timesheet-days">
            <table class="table timesheet-detail">
                <thead>
                    <tr>
                        <th width="10%">Mo</th>
                        <th width="10%">Tu</th>
                        <th width="10%">We</th>
                        <th width="10%">Th</th>
                        <th width="10%">Fr</th>
                        <th width="10%">Sa</th>
                        <th width="10%">Su</th>
                        <th width="30%">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% var actualList = ticket.effortsList %>
                        <% _.each(actualList,function(effort){ %>
                        <td width="10%">
                            <input type="text" value="<%- effort %>" min="0" max="24" step="1" data-id="<%- ticket.projectId %>" class="form-control input-sm efforts" />
                        </td>
                        <%}); %>
                        <td width="13%"><span id="res_<%- ticket.projectId %>" class="total"><%-  _.reduce(ticket.effortsList, function(memo, num){ return memo + num; }, 0) %></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <% });%>
    <% if(data.state.code == 1) { %>
    <div class="panel-footer">
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-danger" id="timesheet-detail-delete">Delete</button>
                <button type="button" class="btn btn-info" id="timesheet-detail-save">Save</button>
                <button type="button" class="btn btn-primary" id="timesheet-detail-submit">Submit</button>
            </div>
        </div>
    </div>
    <% } else { %>
    <div class="alert alert-warning" role="alert">This TimeSheet cannot be modify, current status: <%= data.state.meaning %></div>
    <% } %>
    <div class="alert alert-warning hide" id="alert-unable" role="alert">Unable to update timesheet</div>
</div>
<script>

</script>