<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-push-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Log In
				</div>
				<div class="panel-body">
					<p>
						To Log in use your Backlog username and password.
					</p>
					<form role="form" method="post" name="login-form" id="login-form">					
						<div class="alert alert-danger" role="alert" style="display: none"></div>
						<div class="form-group">
							<label for="login-username">Username</label> <input
								type="text" class="form-control" id="login-username" name="username"
								placeholder="Username">
						</div>
						<div class="form-group">
							<label for="login-username">Password</label> <input
								type="password" class="form-control" id="login-username" name="password"
								placeholder="Password">
						</div>
						<div class="pull-right btn-group">
							<button type="submit" class="btn btn-primary">Log In</button>
							<br>&nbsp;					
							<br />&nbsp;		
						</div>
						<div>
							<img src="img/home/softtek_logo.png" width="80px" />
						</div>
					</form>					
				</div>
			</div>
		</div>
	</div>
</div>